<div class="Background NapicuFontDosVGA">
  <section>
    <div class="BiosTitle">NapicuBios SETUP</div>
    <!--Navigation bar-->
    <nav class="OptionNavigationBar">
      <div *ngFor="let i of get_options; let index = index" [ngClass]="{SelectedOption: index === get_selected_option_index}">
        {{i.name}}
      </div>
    </nav>

    <!--Component view -->
    <div class="ComponentViewContainer">
      <div class="ComponentViewFrame BiosElements">
          <div *ngFor="let i of options[selected_screen_option].options; let index = index" [ngClass]="{BiosSelectedElement: index === selected_option}">
            <!--Information-->
            <ng-container *ngIf="i.type === 'information'">
              <div class="BiosInformationElement">
                <div>{{(i.option | as : BiosOptionElementTypeInformation).name}}</div>
                <div>{{(i.option | as : BiosOptionElementTypeInformation).value}}</div>
              </div>
            </ng-container>

            <!--Action-->
            <ng-container *ngIf="i.type === 'action'">
              <div class="BiosActionElement">
                <div>{{(i.option | as : BiosOptionElementTypeAction).name}}</div>
                <div>{{(i.option | as : BiosOptionElementTypeAction).value}}</div>
              </div>
            </ng-container>

            <!--Options-->
            <ng-container *ngIf="i.type === 'options'">
              <div class="BiosOptionsElement">
                <div>{{(i.option | as : BiosOptionElementTypeOptionMenu).name}}</div>
                <div>{{(i.option | as : BiosOptionElementTypeOptionMenu).options[(i.option | as : BiosOptionElementTypeOptionMenu).selectedOption]}}</div>
              </div>
            </ng-container>
          </div>
          <!--<ng-container *ngComponentOutlet="get_selected_option_item.component"></ng-container>-->
      </div>

      <div class="ComponentDescriptionViewFrame">

      </div>
    </div>

    <!--Bottom bar-->
    <div class="BiosBottomTitle">{{get_bios_version}}</div>
  </section>
</div>
