<div class="Background NapicuFontDosVGA">
  <section>
    <div class="BiosTitle">NapicuBios SETUP</div>
    <!--Navigation bar-->
    <nav class="OptionNavigationBar">
      <div *ngFor="let i of get_options; let index = index" [ngClass]="{SelectedOption: index === get_selected_option_index}">
        {{i.name}}
      </div>
    </nav>

    <!--Component view -->
    <div class="ComponentViewContainer">
      <div class="ComponentViewFrame">
          <div *ngFor="let i of options[selected_screen_option].options">
            <!--Information-->
            <ng-container *ngIf="i.type === 'information'">
              <div>{{(i.option | as : BiosOptionElementTypeInformation).name}}</div>
              <div>{{(i.option | as : BiosOptionElementTypeInformation).value}}</div>
            </ng-container>

            <!--Action-->
            <ng-container *ngIf="i.type === 'action'">

            </ng-container>

            <!--Options-->
            <ng-container *ngIf="i.type === 'options'">

            </ng-container>
          </div>
          <!--<ng-container *ngComponentOutlet="get_selected_option_item.component"></ng-container>-->
      </div>
    </div>

    <!--Bottom bar-->
    <div class="BiosBottomTitle">{{get_bios_version}}</div>
  </section>
</div>
