<div class="Background NapicuFontDosVGA">
  <section>
    <div class="BiosTitle">NapicuBios SETUP</div>
    <!--Navigation bar-->
    <nav class="OptionNavigationBar">
      <div *ngFor="let i of get_options; let index = index" [ngClass]="{SelectedOption: index === get_selected_option_index}">
        {{i.name}}
      </div>
    </nav>

    <!--Component view -->
    <div class="ComponentViewContainer">
      <div class="ComponentViewFrame">
        <!--Option Title -->
        <div class="BiosOptionTitle">{{options[selected_screen_option].title}}</div>
        <!--Options -->
        <div *ngFor="let i of options[selected_screen_option].options; let index = index" class="BiosElement" [ngClass]="{BiosSelectedElement: index === selected_option}">
          <!--Options - Information-->
          <ng-container *ngIf="i.type === 'information'">
            <div class="BiosInformationElement">
              <div>{{(i.option | as : BiosOptionElementTypeInformation).name}}<span class="BiosElementSeparator">:</span></div>
              <div>{{(i.option | as : BiosOptionElementTypeInformation).value}}</div>
            </div>
          </ng-container>

          <!--Options - Action-->
          <ng-container *ngIf="i.type === 'action'">
            <div class="BiosActionElement">
              <div>{{(i.option | as : BiosOptionElementTypeAction).name}}</div>
            </div>
          </ng-container>

          <!--Options - Options-->
          <ng-container *ngIf="i.type === 'options'">
            <div class="BiosOptionsElement">
              <div>{{(i.option | as : BiosOptionElementTypeOptionMenu).name}}<span class="BiosElementSeparator">:</span></div>
              <div>[{{(i.option | as : BiosOptionElementTypeOptionMenu).options[(i.option | as : BiosOptionElementTypeOptionMenu)?.selectedOption || 0]}}]</div>
            </div>
          </ng-container>

          <!--Options - Numbers-->
          <ng-container *ngIf="i.type === 'numbers' || i.type === 'clock' || i.type === 'date'">
            <div class="BiosOptionsElement">
              <div>{{(i.option | as : BiosOptionElementTypeNumbers).name}}<span class="BiosElementSeparator">:</span></div>
              <div>[<span *ngFor="let number of (i.option | as : BiosOptionElementTypeNumbers).numbers; let number_index = index"
              ><span *ngIf="number_index !== 0">{{(i.option | as : BiosOptionElementTypeNumbers).separator}}</span><span
                [ngClass]="{'BiosSelectedNumberElement': number_index === selected_in_numbers_option && selected_in_numbers_option !== null && index === selected_option}">{{number.value}}</span></span>]</div>
            </div>
          </ng-container>
        </div>
        <!--<ng-container *ngComponentOutlet="get_selected_option_item.component"></ng-container>-->
      </div>

      <div class="ComponentDescriptionViewFrame">
        <ng-container *ngIf="options[selected_screen_option].options[selected_option]?.description">
          <div>{{options[selected_screen_option].options[selected_option].description}}</div>
        </ng-container>
      </div>
    </div>

    <!--Bottom bar-->
    <div class="BiosBottomTitle">{{get_bios_version}}</div>
  </section>

  <bios-option-menu
    *ngIf="active_option_menu"
    [options]="active_option_menu.get_options()"
    [selected_option]="active_option_menu.get_selected_option()"
    [title]="active_option_menu.get_title()"
    [row_options]="active_option_menu.is_row_options()"
    [onChangeValue]="active_option_menu.onChangeValue"
    (onEsc)="active_option_menu.onEsc?.($event); addEventListener(); active_option_menu = null"
  ></bios-option-menu>
</div>
