.BiosOptionMenu{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #00f;
  padding: 10px 3px;
  font-size: 2rem;
  color: #fff;
  box-shadow: 10px 10px #000;
  z-index: 100000;

  .BiosOptionMenuTitle{
    text-align: center;
    margin-bottom: 15px;
  }

  .BiosFlexOptionMenu{
    display: flex;
    justify-content: space-around;
    >div{
      margin: 0 5px;
    }
  }

  .BiosCenteredOptionElement{
    width: fit-content;
    text-align: center;
    margin: auto;
  }

  .BiosOptionMenuButtons{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;

    .BiosOptionMenuSelectedButton{
      background-color: black;
    }
  }

  >div{
    padding: 20px;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }

  .BiosSelectedOptionElement{
    background: black;
  }
}
